namespace: production
resources:
- deployment.yaml
- service.yaml
- ingress.yaml
commonLabels:
  app.kubernetes.io/name: altdservice
images:
- name: slimslenderslacks/altdservice
  newTag: v35
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
decryption:
  provider: sops
  secretRef:
    name: sops-gpg
