namespace: production
resources:
- deployment.yaml
- service.yaml
- ingress.yaml
commonLabels:
  app.kubernetes.io/name: nodejs-service
images:
- name: gcr.io/personalsdm-216019/nodejs-service
  newTag: pr_c6bd9ae
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
decryption:
  provider: sops
  secretRef:
    name: sops-gpg
